<div class="primary-menu-trigger">
    <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
        <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
    </button>
</div>
