<div class="container">
    <div class="header-row">
        <div id="logo" class="ms-auto ms-lg-0 me-lg-auto">
            <a href="/">
                {# <img class="logo-default" srcset="{% imgSrc "demos/store/images/logo.png" %}, {% imgSrc "demos/store/images/logo@2x.png" %} 2x" src="{% imgSrc "demos/store/images/logo@2x.png" %}" alt="Canvas Logo">
                <img class="logo-dark" srcset="{% imgSrc  "demos/store/images/logo-dark.png" %}, {% imgSrc "demos/store/images/logo-dark@2x.png" %} 2x" src="{% imgSrc "demos/store/images/logo-dark@2x.png" %}" alt="Canvas Logo"> #}
                {# <img class="logo-default" srcset="/images/logo.png, /images/logo@2x.png 2x" src="/images/logo@2x.png" alt="Canvas Logo">
                <img class="logo-dark" srcset="/images/logo-dark.png, /images/logo-dark@2x.png 2x" src="/images/logo-dark@2x.png" alt="Canvas Logo"> #}
                
                {# <img class="logo-default" srcset="demos/construction/images/logo.png, demos/construction/images/logo@2x.png 2x" src="demos/construction/images/logo@2x.png" alt="Canvas Logo"> #}
                {# <img class="logo-default" srcset="/demos/construction/images/logo.png, /demos/construction/images/logo@2x.png 2x" src="/demos/construction/images/logo@2x.png" alt="Canvas Logo"> #}
                <img class="logo-default" srcset="{% static './demos/construction/images/logo.png' %}, {% static './demos/construction/images/logo@2x.png' %} 2x" src="{% static './demos/construction/images/logo@2x.png' %}" alt="Canvas Logo">
            </a>
        </div>
        <div class="header-misc d-none d-lg-flex">
            <ul class="header-extras">
                <li>
                    <i class="i-plain bi-telephone m-0"></i>
                    <div class="he-text">
                        Call Us
                        <span>(1) 22 54215821</span>
                    </div>
                </li>
                <li>
                    <i class="i-plain bi-envelope m-0"></i>
                    <div class="he-text">
                        Email Us
                        <span>info@canvas.com</span>
                    </div>
                </li>
                <li>
                    <i class="i-plain bi-clock m-0"></i>
                    <div class="he-text">
                        We'are Open
                        <span>Mon - Sat, 10AM to 6PM</span>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>
