<nav class="primary-menu with-arrows">

    <ul class="menu-container">
        <li class="menu-item current"><a class="menu-link" href="/"><div>Anasayfa</div></a></li>
        {# <li class="menu-item"><a class="menu-link" href="/services.html"><div>What we do</div></a>
            <ul class="sub-menu-container">
                <li class="menu-item"><a class="menu-link" href="#"><div>Housing Management</div></a></li>
                <li class="menu-item"><a class="menu-link" href="#"><div>Construction Planning</div></a></li>
                <li class="menu-item"><a class="menu-link" href="#"><div>Green Homes</div></a></li>
                <li class="menu-item"><a class="menu-link" href="#"><div>Architecture Design</div></a></li>
                <li class="menu-item"><a class="menu-link" href="#"><div>Interior Planning</div></a></li>
            </ul>
        </li> #}
        <li class="menu-item"><a class="menu-link" href="/about-us"><div>Hakkımızda</div></a></li>
        {# <li class="menu-item"><a class="menu-link" href="/projects.html"><div>Projects</div></a>
            <ul class="sub-menu-container">
                <li class="menu-item"><a class="menu-link" href="/projects-2.html"><div>2 Columns</div></a></li>
                <li class="menu-item"><a class="menu-link" href="/projects-3.html"><div>3 Columns</div></a></li>
                <li class="menu-item"><a class="menu-link" href="#yok"><div>4 Columns</div></a></li>
                <li class="menu-item"><a class="menu-link" href="/projects-5.html"><div>5 Columns</div></a></li>
            </ul>
        </li> #}
        {# <li class="menu-item"><a class="menu-link" href="/investors.html"><div>Investors</div></a></li>
        <li class="menu-item"><a class="menu-link" href="/blog.html"><div>News</div></a></li>
        <li class="menu-item"><a class="menu-link" href="/career.html"><div>Careers</div></a></li> #}
        <li class="menu-item"><a class="menu-link" href="/contact"><div>İletişim</div></a></li>
    </ul>

</nav>
