{% include '_includes/layout/base/footer-scripts/footer-scripts-home.njk' %}
{# {% if page == 'home' %} #}
    {# {% include '_includes/site/layout/base/footer-scripts/footer-scripts-home.njk' %} #}
{# {% elseif page == 'hakkimizda'  %}
    {% include '_includes/site/layout/base/footer-scripts/footer-scripts-about.njk' %}
{% elseif page == 'blog'  %}
    {% include '_includes/site/layout/base/footer-scripts/footer-scripts-blog.njk' %}
{% else  %}
    {% include '_includes/site/layout/base/footer-scripts/footer-scripts-common.njk' %} #}
{# {% endif %} #}
