{# <!-- Page Title
============================================= --> #}
{# <section class="page-title page-title-parallax parallax page-title-center dark include-header include-topbar mt-1" style="padding: 180px 0 140px;"> #}
<section class="kameray page-title page-title-parallax parallax page-title-center dark include-header include-topbar mt-1" style="padding: 40px 0 110px;">
    {# <img src="demos/seo/images/about-title.jpg" class="parallax-bg"> #}
    <div id="particles-line"></div>

    <div class="container position-relative">
        <div class="page-title-row">

            <div class="page-title-content">
                <div class="badge rounded-pill border border-light text-light">About Us</div>
                <h1>What We Do</h1>
            </div>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About</li>
                </ol>
            </nav>

        </div>
    </div>
    {# <div class="video-overlay z-1" style="background-image: linear-gradient(to top, rgba(254,150,3,0.5), #39384D);"></div> #}
</section>
{# <!-- .page-title end --> #}
