{# <!-- Content
============================================= --> #}
<section id="content">
    <div class="content-wrap">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <div class="heading-block border-bottom-0 mb-4">
                        <h3>What We Do</h3>
                        <span>Dramatically orchestrate multimedia based opportunities and client-based e-business. Competently create human capital.</span>
                    </div>
                    <p>Holisticly incubate enterprise users whereas just in time sources. Rapidiously transition performance based e-business for bricks-and-clicks methodologies. Intrinsicly network quality interfaces rather than customer directed e-services. Rapidiously implement out-of-the-box content with alternative data. Collaboratively simplify seamless initiatives through sustainable infomediaries. Holisticly aggregate bleeding-edge expertise.</p>
                    <a href="#" class="button button-3d ms-0 mb-4">Learn More</a>
                </div>

                <div class="col-lg-6">
                    <div class="fslider flex-thumb-grid grid-6" data-pagi="false" data-arrows="false" data-thumbs="true">
                        <div class="flexslider">
                            <div class="slider-wrap">
                                {# <div class="slide" data-thumb="{% static './demos/construction/images/gallery/thumbs/1.jpg' %}"> #}
                                <div class="slide" data-thumb="./demos/construction/images/gallery/thumbs/1.jpg">
                                    <img src="{% static './demos/construction/images/gallery/1.jpg' %}" alt="Image">
                                    <div class="bg-overlay">
                                        <div class="bg-overlay-content justify-content-start align-items-end">
                                            <div class="h4 fw-light bg-light text-dark px-3 py-2">Government Contraction</div>
                                        </div>
                                    </div>
                                </div>
                                {# <div class="slide" data-thumb="{% static './demos/construction/images/gallery/thumbs/2.jpg' %}"> #}
                                <div class="slide" data-thumb="./demos/construction/images/gallery/thumbs/2.jpg">
                                    <img src="{% static './demos/construction/images/gallery/2.jpg' %}" alt="Image">
                                    <div class="bg-overlay">
                                        <div class="bg-overlay-content justify-content-start align-items-end">
                                            <div class="h4 fw-light bg-light text-dark px-3 py-2">Home Renovation</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide" data-thumb="./demos/construction/images/gallery/thumbs/3.jpg">
                                    <img src="{% static './demos/construction/images/gallery/3.jpg' %}" alt="Image">
                                    <div class="bg-overlay">
                                        <div class="bg-overlay-content justify-content-start align-items-end">
                                            <div class="h4 fw-light bg-light text-dark px-3 py-2">Residential Construction</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide" data-thumb="./demos/construction/images/gallery/thumbs/4.jpg">
                                    <img src="{% static './demos/construction/images/gallery/4.jpg' %}" alt="Image">
                                    <div class="bg-overlay">
                                        <div class="bg-overlay-content justify-content-start align-items-end">
                                            <div class="h4 fw-light bg-light text-dark px-3 py-2">Wooden Floor</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide" data-thumb="./demos/construction/images/gallery/thumbs/5.jpg">
                                    <img src="{% static './demos/construction/images/gallery/5.jpg' %}" alt="Image">
                                    <div class="bg-overlay">
                                        <div class="bg-overlay-content justify-content-start align-items-end">
                                            <div class="h4 fw-light bg-light text-dark px-3 py-2">Repairing of Houses</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide" data-thumb="./demos/construction/images/gallery/thumbs/6.jpg">
                                    <img src="{% static './demos/construction/images/gallery/6.jpg' %}" alt="Image">
                                    <div class="bg-overlay">
                                        <div class="bg-overlay-content justify-content-start align-items-end">
                                            <div class="h4 fw-light bg-light text-dark px-3 py-2">Building Renovaion</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide" data-thumb="./demos/construction/images/gallery/thumbs/7.jpg">
                                    <img src="{% static './demos/construction/images/gallery/7.jpg' %}" alt="Image">
                                    <div class="bg-overlay">
                                        <div class="bg-overlay-content justify-content-start align-items-end">
                                            <div class="h4 fw-light bg-light text-dark px-3 py-2">Hightech Construction</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide" data-thumb="./demos/construction/images/gallery/thumbs/8.jpg">
                                    <img src="{% static './demos/construction/images/gallery/8.jpg' %}" alt="Image">
                                    <div class="bg-overlay">
                                        <div class="bg-overlay-content justify-content-start align-items-end">
                                            <div class="h4 fw-light bg-light text-dark px-3 py-2">Hardwood Flooring</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide" data-thumb="./demos/construction/images/gallery/thumbs/9.jpg">
                                    <img src="{% static './demos/construction/images/gallery/9.jpg' %}" alt="Image">
                                    <div class="bg-overlay">
                                        <div class="bg-overlay-content justify-content-start align-items-end">
                                            <div class="h4 fw-light bg-light text-dark px-3 py-2">Commercial Construction</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide" data-thumb="./demos/construction/images/gallery/thumbs/10.jpg">
                                    <img src="{% static './demos/construction/images/gallery/10.jpg' %}" alt="Image">
                                    <div class="bg-overlay">
                                        <div class="bg-overlay-content justify-content-start align-items-end">
                                            <div class="h4 fw-light bg-light text-dark px-3 py-2">Repairing Of Roof</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide" data-thumb="./demos/construction/images/gallery/thumbs/11.jpg">
                                    <img src="{% static './demos/construction/images/gallery/11.jpg' %}" alt="Image">
                                    <div class="bg-overlay">
                                        <div class="bg-overlay-content justify-content-start align-items-end">
                                            <div class="h4 fw-light bg-light text-dark px-3 py-2">Home Renovation</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide" data-thumb="./demos/construction/images/gallery/thumbs/12.jpg">
                                    <img src="{% static './demos/construction/images/gallery/12.jpg' %}" alt="Image">
                                    <div class="bg-overlay">
                                        <div class="bg-overlay-content justify-content-start align-items-end">
                                            <div class="h4 fw-light bg-light text-dark px-3 py-2">Office Renovation</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="section row p-0 align-items-stretch dark mt-5">
            <div class="col-lg-4 d-none d-md-block min-vh-50" style="background: url('{% static './demos/construction/images/services/parallax.jpg' %}') center center repeat; background-size: cover;">
                <div>&nbsp;</div>
            </div>
            <div class="col-lg-8">
                <div class="col-padding">

                    <div class="row align-items-stretch g-5">
                        <div class="col-md-6">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="{% static './demos/construction/images/icons/building.png' %}" alt="Concrete Developments"></a>
                                </div>
                                <div class="fbox-content">
                                    <h3>Concrete Developments</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem minima, facere distinctio placeat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="{% static './demos/construction/images/icons/bank.png' %}" alt="Finance Assistance"></a>
                                </div>
                                <div class="fbox-content">
                                    <h3>Finance Assistance</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem minima, facere distinctio placeat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="{% static './demos/construction/images/icons/traffic-cone.png' %}" alt="Smart Builders"></a>
                                </div>
                                <div class="fbox-content">
                                    <h3>Smart Builders</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem minima, facere distinctio placeat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="{% static './demos/construction/images/icons/paint-brush.png' %}" alt="Quality Infrastructure"></a>
                                </div>
                                <div class="fbox-content">
                                    <h3>Quality Infrastructure</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem minima, facere distinctio placeat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="{% static './demos/construction/images/icons/drawer.png' %}" alt="Interiorly Designed"></a>
                                </div>
                                <div class="fbox-content">
                                    <h3>Interiorly Designed</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem minima, facere distinctio placeat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="{% static './demos/construction/images/icons/paper-money.png' %}" alt="Cost Effective Solutions"></a>
                                </div>
                                <div class="fbox-content">
                                    <h3>Cost Effective Solutions</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem minima, facere distinctio placeat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row g-5 mb-6">

                <div class="col-lg-7">
                    <h4>Our Dedicated Team</h4>

                    <div id="oc-posts" class="owl-carousel posts-carousel carousel-widget" data-margin="20" data-nav="true" data-pagi="true" data-items-xs="2" data-items-xl="3">

                        <div class="oc-item">
                            <div class="team">
                                <div class="team-image">
                                    <img src="{% static './demos/construction/images/team/1.jpg' %}" alt="John Doe">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><a href="#"><h4>John Doe</h4></a><span>Construction engineer</span></div>
                                </div>
                            </div>
                        </div>

                        <div class="oc-item">
                            <div class="team">
                                <div class="team-image">
                                    <img src="{% static './demos/construction/images/team/2.jpg' %}" alt="Josh Thompson">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><a href="#"><h4>Josh Thompson</h4></a><span>Project leader</span></div>
                                </div>
                            </div>
                        </div>

                        <div class="oc-item">
                            <div class="team">
                                <div class="team-image">
                                    <img src="{% static './demos/construction/images/team/3.jpg' %}" alt="Mary Jane">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><a href="#"><h4>Mary Jane</h4></a><span>Quality manager</span></div>
                                </div>
                            </div>
                        </div>

                        <div class="oc-item">
                            <div class="team">
                                <div class="team-image">
                                    <img src="{% static './demos/construction/images/team/5.jpg' %}" alt="Mary Jane">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><a href="#"><h4>Alan Fresco</h4></a><span>Vehicle park manager</span></div>
                                </div>
                            </div>
                        </div>

                        <div class="oc-item">
                            <div class="team">
                                <div class="team-image">
                                    <img src="{% static './demos/construction/images/team/4.jpg' %}" alt="Mary Jane">
                                </div>
                                <div class="team-desc">
                                    <div class="team-title"><a href="#"><h4>Customer Support</h4></a><span>Quality manager</span></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-lg-5">
                    <h4>Clients Overview</h4>

                    <p>We prize our Clients more than everything else. We strive to provide Quality Services to all our Clients on a Priority Basis. You are invited to join our Clients List and enjoy our Services. <a href="#">See more...</a></p>

                    <ul class="clients-grid row row-cols-2 row-cols-sm-3 grid-border">
                        <li class="col-padding"><a href="#"><img src="{% static './images/clients/1.png' %}" alt="Clients"></a></li>
                        <li class="col-padding"><a href="#"><img src="{% static './images/clients/2.png' %}" alt="Clients"></a></li>
                        <li class="col-padding"><a href="#"><img src="{% static './images/clients/3.png' %}" alt="Clients"></a></li>
                        <li class="col-padding"><a href="#"><img src="{% static './images/clients/4.png' %}" alt="Clients"></a></li>
                        <li class="col-padding"><a href="#"><img src="{% static './images/clients/5.png' %}" alt="Clients"></a></li>
                        <li class="col-padding"><a href="#"><img src="{% static './images/clients/6.png' %}" alt="Clients"></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <a href="demo-construction-projects.html" class="button button-3d border-bottom-0 mt-4 button-full text-center mb-5 fw-light font-primary" style="font-size: 26px;">
            <div class="container">
                Would you like to Build your Dream Home with Us? <strong>Enquire Here</strong> <i class="uil uil-angle-right-b" style="top:3px;"></i>
            </div>
        </a>

        <div class="section bg-transparent mt-0 p-0 footer-stick">
            <div class="container">

                <div class="row">
                    <div class="col-lg-7">
                        <img src="{% static './demos/construction/images/services/bottom-trust.jpg' %}" alt="Bottom Trust">
                    </div>
                    <div class="col-lg-5 mt-4">
                        <div class="heading-block border-bottom-0">
                            <h2>You're in Good Hands.</h2>
                            <span class="ls-1">Five Points that define Our Reliability.</span>
                        </div>

                        <ul class="iconlist iconlist-large iconlist-color">
                            <li><i class="fa-solid fa-check"></i> Market Leader since 1915</li>
                            <li><i class="fa-solid fa-check"></i> Positive Results within Deadlines</li>
                            <li><i class="fa-solid fa-check"></i> 100% Reliability &amp; Guarantee</li>
                            <li><i class="fa-solid fa-check"></i> Dedicated Professional Team of 500+</li>
                            <li><i class="fa-solid fa-check"></i> Unmatched After Project Completion Support</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{# <!-- #content end --> #}
