{# TODO scriptler webpack ile eklenecek #}
{# <script async defer src="{% webpack 'main.js' %}"></script> #}

{# <!-- JavaScripts
============================================= --> #}
<script src="assets/js/plugins.min.js"></script>
{# <script src="{% static './js/plugins.min.js' %}"></script> #}
<script src="assets/js/functions.bundle.js"></script>
