{# <!-- Slider
============================================= --> #}
{# {% include "_includes/site/pages/" + langView + "/" + page + "/slider.njk" %} #}
{% include "_includes/component/hero-slider.njk" %}
{# <!-- #slider end --> #}

{# TODO content bölümü de aslında her biri componentten gelmesi gereken parçalardan oluşuyor
bilahere bunu da componentlere ayırmalıyım #}
{% include "_includes/pages/index/content.njk" %}
