{% extends "_includes/layout/base.njk" %}

{% block pagecontent %}
{# {% include "_includes/pages/" + page + "/" + page + ".njk" %} #}
{% include "_includes/pages/projects-5/index.njk" %}
{% endblock %}


{# {{ field() }} #}
