{# <!-- Content
============================================= --> #}
<section id="content">
    <div class="content-wrap">
        <div class="container">

            <div class="row">
                <div class="col-lg-5">
                    <div class="heading-block border-bottom-0 mb-4">
                        <h3>Most Valuable Investors</h3>
                        <span>Dramatically orchestrate multimedia.</span>
                    </div>
                    <p>Holisticly incubate enterprise users whereas just in time sources. Rapidiously transition performance based e-business. Rapidiously implement out-of-the-box content with alternative data. Collaboratively simplify seamless initiatives through sustainable infomediaries. Holisticly aggregate bleeding-edge expertise. Holisticly incubate enterprise users whereas just in time sources. Rapidiously transition performance based e-business. Rapidiously implement out-of-the-box content with alternative data.</p>
                </div>

                <div class="col-lg-7">
                    <ul class="clients-grid grid-border row row-cols-2 row-cols-sm-3 row-cols-md-4 mb-0">
                        <li class="col-padding"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/1.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/2.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/3.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/4.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/5.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/6.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/7.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/8.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/9.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/10.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/11.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/12.jpg' %}" alt="Clients"></a></li>
                    </ul>
                </div>
            </div>

            <div class="divider divider-center divider-border"><i class="bi-gem"></i></div>

            <div class="row">

                <div class="col-lg-12">
                    <div class="heading-block text-center">
                        <h3>Others Investors</h3>
                        <span>Holisticly incubate enterprise users whereas just in time sources. Rapidiously transition performance based e-business.</span>
                    </div>
                    <ul class="clients-grid grid-border row row-cols-2 row-cols-sm-3 row-cols-md-6 mb-0">
                        <li class="col-padding p-3"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/14.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding p-3"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/15.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding p-3"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/16.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding p-3"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/17.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding p-3"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/18.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding p-3"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/19.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding p-3"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/20.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding p-3"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/21.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding p-3"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/9.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding p-3"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/10.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding p-3"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/11.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding p-3"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/12.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding p-3"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/4.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding p-3"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/5.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding p-3"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/6.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding p-3"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/7.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding p-3"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/8.jpg' %}" alt="Clients"></a></li>
                        <li class="col-padding p-3"><a class="op-08" href="#"><img src="{% static './demos/construction/images/clients/9.jpg' %}" alt="Clients"></a></li>
                    </ul>
                </div>
            </div>

        </div>

        <a href="demo-construction-projects.html" class="button button-3d border-bottom-0 button-full text-center fs-3 fw-light font-primary mt-5 footer-stick">
            <div class="container">
                Would you like to Build your Dream Home with Us? <strong>Enquire Here</strong> <i class="uil uil-angle-right-b" style="top:3px;"></i>
            </div>
        </a>

    </div>
</section>
{# <!-- #content end --> #}
